@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,600&family=Sarala:wght@400;700&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #fff;
}

.bg-after-yes {
  background-image: url('../img/0ac5237568173c84a72874ad881c2371.jpg') ;
  background-size: cover;
  background-position: top left;
  position: relative;
  width: 100%;
}

.text-white {
  color: white !important;
}

#container {
  text-align: center;
  animation: fadeIn 2s;
}

#countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 2rem;
  color: #3a4756;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  animation: fadeIn 0.9s ease-in infinite alternate;
}

#proposal {
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: bold;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation: dropIn 1s ease;
  display: none;
}

#message {
  width: 90%;
  max-width: 600px;
  padding: 20px;
  display: none;
}

#message p {
  line-height: 1.5;
  font-size: 1.2em;
  font-family: 'Sarala', sans-serif;
  font-style: italic;
  font-weight: 500;
  color: black;
}

.heart {
    position: fixed;
    bottom: -100px; /* Iniciar fora da tela */
    background-color: transparent;
    font-size: 2em;
    user-select: none;
    z-index: 9999; /* Garantir que esteja acima de outros elementos */
    animation: floatUp linear forwards;
  }

.button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #ff85a2;
  color: white;
  transition: transform 0.5s ease;
  position: relative;
  animation: popIn 0.5s ease, glow 1.5s infinite alternate;
  display: none;
}

#no {
  transition: transform 0.5s ease;
}

#yes {
  z-index: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dropIn {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes popIn {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px #ff85a2;
  }
  100% {
    box-shadow: 0 0 20px #ff85a2, 0 0 30px #ff85a2 inset;
  }
}

@keyframes floatUp {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-100vh);
      opacity: 0;
    }
  }

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
  h1 {
    font-size: 4vw;
  }
  p {
    font-size: 2vw;
  }
  button {
    padding: 1rem 2rem;
    font-size: 2vw;
  }
}
